# Update the placeholder values below with your values

# Atlas
atlas_org_id = "<YOUR_ATLAS_ORG_ID>"
project_name = "<NAME_FOR_ATLAS_PROJECT>"
cluster_name = "<NAME_FOR_ATLAS_CLUSTER>"

# Azure
azure_resource_group_name = "<YOUR_RESOURCE_GROUP>"
azure_subscription_id     = "<YOUR_SUBSCRIPTION_ID>"

# Regions with Private Link subnet IDs
regions = [
  {
    name      = "US_EAST_2"
    subnet_id = "<YOUR_SUBNET_ID>"
  },
  {
    name      = "US_WEST_2"
    subnet_id = "<YOUR_SUBNET_ID>"
  }
]
